<section class="container">
  <header>
    <h2 class="text-center">Shops</h2>
  </header>
  <div class="main">
      {{#each model as |shop index|}}
        <div class="row">
          <div class="col-md-8">
            {{#if (eq clickTarget index)}}
              {{input type="text"
                      value=editableName
                      focus-out="editShopName"
                      autofocus='true'}}
            {{else}}
            <a {{action "goTo" index}}>
              {{#if shopName }} {{ shopName }} {{else}} {{ shop.name }} {{/if}}
            </a>
            {{/if}}
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger pull-right" {{ action "removeShop" index}}>Delete</button>
            <button class="btn btn-success pull-right"{{ action "editShop" index }}>Edit</button>
          </div>
        </div>
      <hr>
    {{/each}}
      {{#if isAdding}}{{input type="text"
                              focus-out="enterShopName"
                              placeholder="Enter a New Shop Name"
                              value=newShopName
                              autofocus='true'}}
      {{/if}}
  </div>
  <button class="lgBtn" {{ action "addShop" }}>Add Shops</button>
</section>
{{outlet}}
